.commentsContainer{
    height:210px;
    overflow-y: scroll;
}
.commentsContainer::-webkit-scrollbar {
  display: none;
}
.commentsDiv{
    border: 0.5px solid #fff;
    padding: 5px;
    border-radius: 10px;
    margin:15px 0px;
}
.commentsUser{font-size: 12px;
    color: rgb(255, 0, 0);
font-weight: 600;}
.commentsButton{
    width: 180px;
    height:35px;
    padding: 5px;
}
.InputText{
    padding: 5px;
    height: 20px;
    width: 170px;
    border-radius: 5px;
    border: none;
}